// Mixins Here

@paragraphFontSize: 1.6rem;



.btnProp(@fontsize, @bg-color, @bradius, @color) {
    font-size: @fontsize;
    background-color: @bg-color;
    border-radius: @bradius;
    color: @color;
    transition: all 0.3s linear;

    &:hover {
        background-color: #AFEEEE;
        color: #696969;
        transform: scale(1.1);
    }
}